#home {
    position: relative;
    background-color: #ece0d1;
    color: #2e0953;
}
.appHeader {
    flex: 1;
    padding: 6rem 0;
    height: 100%;
    width: 100%;
    flex-direction: row;
}
.profilePicture {
    border-radius: 50%;
}

@media screen and (min-width: 2000px) {
    .appHeader {
        padding-top: 8rem;
    }
}

@media screen and (max-width: 1200px) {
    .appHeader {
        flex-direction: column;
    }
}
@media screen and (max-width: 900px) {
    .profilePicture {
        width: 80%;
    }
}

/* @media screen and (max-width: 450px) {
    .appHeader {
        padding: 6rem 1rem 2rem;
    }
} */

.appHeaderInfo {
    flex: 0.65;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
}

@media screen and (max-width: 2000px) {
    .appHeaderInfo {
        width: 100%;
        margin-right: 0rem;
    }
}

.appHeaderBadge {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

.tagCmp,
.badgeCmp {
    padding: 1rem 2rem;
    border: white;
    border-radius: 15px;
    flex-direction: row;
    width: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.tagCmp {
    flex-direction: column;
    margin-top: 3rem;
}
.tagCmp p {
    width: 100%;
    text-transform: uppercase;
    text-align: right;
}
.badgeCmp span {
    font-size: 2.5rem;
}
@media screen and (min-width: 2000px) {
    .badgeCmp span {
        font-size: 5rem;
    }
}
@media screen and (max-width: 1200px) {
    .appHeaderBadge {
        justify-content: flex-start;
        align-items: flex-start;
    }
}

/* .appHeaderCircles {
    flex: 0.75;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    margin-left: 1rem;
} */

.appHeaderImg {
    flex: 1;
    height: 100%;
    justify-content: flex-end;
    display: flex;
    align-items: flex-end;
    position: relative;
}
.appHeaderImg img {
    /* width: 100%; */
    object-fit: contain;
    z-index: 1;
}

.appHeaderImg .overlayCircle {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    height: 90%;
}

@media screen and (max-width: 1200px) {
    .appHeaderImg {
        margin: 2rem 0;
    }
}
