#contact {
    background-color: #ece0d1;
    color: #2e0953;
}
#contact h1 {
    margin: 0;
}
#contact .socialMedia {
    visibility: hidden;
}
#contact .socialMediaContact .socialMedia {
    visibility: visible;
}

.contactCard a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.contactCard a:hover {
    color: #e46b14;
}
