#navbar {
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #2e0953;
    color: #ece0d1;
}

#navbar div {
    display: flex;
}
#navbar div h4 {
    margin: 30px;
}
