#about {
    width: 100%;
    flex: 1;
    flex-direction: column;
    background-color: #09142c;
}

.appProfiles {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 2rem;
}
.appProfiles div:hover .aboutTitles {
    color: #5df6d7;
}

.profileItem {
    width: 230px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 2rem 3rem;
}

.profileItem img {
    width: 100%;
    height: 200px;
    border-radius: 15px;
    object-fit: cover;
}



@media screen and (min-width: 2000px) {
    .profileItem {
        width: 370px;
        margin: 2rem 4rem;
    }

    .profileItem img {
        height: 320px;
    }
}
