#skills {
    flex: 1;
    width: 100%;
    background-color: #09142c;
}

.skillsContainer {
    width: 80%;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}

.skillsList {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 5rem;
}

.skillsItem {
    flex-direction: column;
    text-align: center;
    margin: 1rem;
    transition: all 0.3s ease-in-out;
}

.skillsItem div {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #e2edfc;
    transition: all 0.3s ease-in-out;
}

.skillsItem div img {
    width: 50%;
    height: 50%;
}

.skillsItem div:hover {
    box-shadow: 0 0 25px rgba(93, 246, 215, 0.4);
    transform: translateY(-7px);
}
.skillsList div:hover p {
    color: #5df6d7;
}

.skillsItem div p {
    font-weight: 500;
    margin-top: 0.5rem;
}
.skillsExpWork {
    background-color: #14243e;
    padding: 1.5rem;
    margin: 2rem 0;
}
.company {
    color: #5df6d7;
}
.titleName {
    color: #e2edfc;
}
@media screen and (max-width: 900px) {
    .skillsContainer {
        width: 100%;
        flex-direction: column;
    }
    .skillsList {
        margin-right: 0;
        justify-content: center;
    }
}

@media screen and (min-width: 2000px) {
    .skillsItem div {
        width: 150px;
        height: 150px;
        margin: 1rem 2rem;
    }
    .skillsItem div p {
        margin-top: 1rem;
    }
}
@media screen and (max-width: 450px) {
    .skillsItem div {
        width: 70px;
        height: 70px;
    }
    .skillsExpWork {
        margin: 1.5rem 1rem;
    }
}
