#work {
    flex: 1;
    width: 100%;
    flex-direction: row;
    background-color: #14243e;
}
#work h1 {
    margin: 0;
}

.workFilter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 4rem 0 2rem;
}

.workFilter .workFilterItem {
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    background-color: transparent;
    border: 1px solid #5df6d7;
    color: #949db8;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0.5rem;
}

.workFilter .workFilterItem:hover {
    background-color: #5df6d7;
    color: #09142c;
    box-shadow: 0 0 20px rgba(93, 246, 215, 0.4);
}

@media screen and (min-width: 2000px) {
    .workFilter .workFilterItem {
        padding: 1rem 2rem;
        border-radius: 0.85rem;
    }
}
.workFilterItem.itemActive {
    transform: translateY(-7px);

    background-color: #5df6d7;
    color: #09142c;
    box-shadow: 0 0 20px rgba(93, 246, 215, 0.4);
}

.workPortfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.workPortfolio .workItem {
    width: 270px;
    flex-direction: column;
    margin: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #09142c;
    color: #949db8;
    transition: all 0.3s ease;
}

@media screen and (min-width: 700px) {
    .workPortfolio .workItem {
        width: 400px;
        padding: 1.25rem;
        border-radius: 0.75rem;
    }
}

@media screen and (min-width: 2000px) {
    .workPortfolio .workItem {
        width: 470px;
        padding: 1.25rem;
        border-radius: 0.75rem;
    }
}
@media screen and (max-width: 300px) {
    .workPortfolio .workItem {
        width: 100%;
        margin: 1rem;
    }
}
@media screen and (max-width: 450px) {
    .workPortfolio .workItem {
        margin: 2rem 1rem;
    }
}
.workPortfolio .workItem:hover {
    transform: translateY(-7px);
    box-shadow: 0 0 25px rgba(93, 246, 215, 0.4);
    border: 1px solid #5df6d7;
}
.workPortfolio .workItem:hover .boldText {
    color: #5df6d7;
    text-shadow: 1px 0 #5df6d7;
    letter-spacing: 0.5px;
}
.workImg {
    width: 100%;
    height: 230px;
    position: relative;
}
.workImg img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
}

@media screen and (min-width: 2000px) {
    .workImg {
        height: 350px;
    }
}

.workHover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(93, 246, 215, 0.4);
    border-radius: 0.5rem;
    opacity: 0;
    transition: all 0.3s ease;
}
.workHover div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #e2edfc;
    margin: 1rem;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.3s ease;
}
.workHover div svg {
    width: 50%;
    height: 50%;
}

.workContent {
    padding: 0.5rem;
    width: 100%;
    position: relative;
    flex-direction: column;
}

.workContent h4 {
    margin-top: 2rem;
    line-height: 1.5rem;
}

.workContent .workTag {
    position: absolute;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: #09142c;
    top: -25px;
}

.workContent .pText{
    align-self: flex-start;
}
