.App {
    text-align: left;
    width: 100vw;
    color: #949db8;
}
.headText {
    color: #e2edfc;
    max-width: 600px;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.socialMedia {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

    padding: 1rem;
}
.socialMedia a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.socialMedia a:hover {
    transform: translateY(-7px);
    color: #5df6d7;
    filter: drop-shadow(0 0 20px rgba(93, 246, 215, 0.4));
}

.socialMedia div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 2000px) {
    .socialMedia div {
        width: 70px;
        height: 70px;

        margin: 0.5rem 0;
    }

    .socialMedia div svg {
        width: 30px;
        height: 30px;
    }
}

.appContainer {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: row;
}

.appFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.appWrapper {
    flex: 1;
    width: 100%;
    flex-direction: column;
    padding: 4rem 2rem;
}

.pText {
    font-weight: 500;
}
.boldText {
    font-weight: 900;
}

@media screen and (max-width: 450px) {
    .appWrapper {
        padding: 4rem 1rem 2rem;
    }
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 1rem;
}

.navigation-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #949db8;
    margin: 0.5rem;

    transition: background-color 0.2s ease-in-out;
}
.navigation-dot:hover {
    background-color: #9ee4d666;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(93, 246, 215, 0.4);
}

@media screen and (min-width: 2000px) {
    .navigation-dot {
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 500px) {
    .navigation,
    .socialMedia {
        display: none;
    }
}
@media screen and (min-width: 500px) and (max-width: 590px) {
    .appWrapper {
        padding: 4rem 0rem;
    }
}

#contact .socialMedia {
    display: none;
}
#contact .socialMediaContact .socialMedia {
    display: block;
}

#about.appContainer {
    flex-direction: row;
}
